In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
transactiondata = [
    ['Milk', 'Bread', 'Butter'],
    ['Bread', 'Butter'],
    ['Milk', 'Bread'],
    ['Milk', 'Butter'],
    ['Milk', 'Bread', 'Butter', 'Cheese'],
    ['Bread', 'Cheese'],
    ['Bread', 'Butter'],
    ['Bread', 'Butter', 'Cheese'],
    ['Bread', 'Cheese']
]

In [3]:
#convert the data into a suitable form for Apriori
encoder=TransactionEncoder()
encoded=encoder.fit_transform(transactiondata)
data=pd.DataFrame(encoded, columns=encoder.columns_)
data

   Bread  Butter  Cheese   Milk
0   True    True   False   True
1   True    True   False  False
2   True   False   False   True
3  False    True   False   True
4   True    True    True   True
5   True   False    True  False
6   True    True   False  False
7   True    True    True  False
8   True   False    True  False

In [5]:
#apply Apriori
frequentitems=apriori(data, min_support=0.3, use_colnames=True)
print('Frequent Items:\n',frequentitems )

Frequent Items:
     support         itemsets
0  0.888889          (Bread)
1  0.666667         (Butter)
2  0.444444         (Cheese)
3  0.444444           (Milk)
4  0.555556  (Butter, Bread)
5  0.444444  (Cheese, Bread)
6  0.333333    (Bread, Milk)
7  0.333333   (Butter, Milk)

In [8]:
#create rules
rules=association_rules(frequentitems, metric="confidence", min_threshold=0.7)
print('Association Rules:\n', rules)

Association Rules:
   antecedents consequents  antecedent support  consequent support   support  \
0    (Butter)     (Bread)            0.666667            0.888889  0.555556
1    (Cheese)     (Bread)            0.444444            0.888889  0.444444
2      (Milk)     (Bread)            0.444444            0.888889  0.333333
3      (Milk)    (Butter)            0.444444            0.666667  0.333333

   confidence     lift  representativity  leverage  conviction  zhangs_metric  \
0    0.833333  0.93750               1.0 -0.037037    0.666667      -0.166667
1    1.000000  1.12500               1.0  0.049383         inf       0.200000
2    0.750000  0.84375               1.0 -0.061728    0.444444      -0.250000
3    0.750000  1.12500               1.0  0.037037    1.333333       0.200000

    jaccard  certainty  kulczynski
0  0.555556      -0.50    0.729167
1  0.500000       1.00    0.750000
2  0.333333      -1.25    0.562500
3  0.428571       0.25    0.625000