In [2]:
import pandas as pd
import numpy as np
customerdata=pd.read_csv('customerdata.csv')
customerdata

   CustomerID  Age  AnnualIncome  SpendingScore
0          99   39         15000             30
1         100   41         35000             39
2         101   41         35000             39
3         101   30         50000             81
4         102   23         20000             40
5         103   19         30000             30
6         104   21         40000             77
7         105   20         35000             40
8         106   23         20000             76
9         107   31         18000             35

In [4]:
customerdata.head(1)

   CustomerID  Age  AnnualIncome  SpendingScore
0          99   39         15000             30

In [16]:
#average annual income by age
averageannualincome=customerdata.groupby('Age')['AnnualIncome'].mean()
new_averageannualincome=round(averageannualincome, 2)
print('Average Annual Income:\n',new_averageannualincome)

Average Annual Income:
 Age
19    30000.0
20    35000.0
21    40000.0
23    20000.0
30    50000.0
31    18000.0
39    15000.0
41    35000.0
Name: AnnualIncome, dtype: float64

In [21]:
#range in annual income
max_income=customerdata['AnnualIncome'].max()
min_income=customerdata['AnnualIncome'].min()
print('maximum income;\n', max_income)
print('minimum income;\n', min_income)
IncomeDifference=max_income-min_income
print('Income Difference;\n', IncomeDifference)

maximum income;
 50000
minimum income;
 15000
Income Difference;
 35000

In [22]:
#variance in Annual Income
customerdata['AnnualIncome'].var()

np.float64(127066666.66666667)

In [23]:
#std in Annual Income
customerdata['AnnualIncome'].std()

np.float64(11272.38513654793)

In [39]:
customerdata.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [12]:
speed=[99,80,57,78,88,78,68,70,55,99,87,60,45,50]
speed=np.mean(speed)
speed

np.float64(72.42857142857143)

In [24]:
speed=np.median(speed)
speed

np.float64(72.42857142857143)

In [33]:
from scipy import stats
mode=stats.mode(speed)
speed

np.float64(72.42857142857143)

In [6]:
speed=np.isnan(speed)
speed

np.False_

In [10]:
speed=np.mean(speed)
speed

np.float64(0.0)